div.container {
    width: 100%;
    margin:20px;
}

.warning{
    font-size:20px;
    font-weight:900;
    color:#A94442;
    border:1px solid #A94442;
    border-radius:7px;
    background-color:#F2DEDE;
    
}

img#img01 {
    margin: 5px 5px;
}
#heartrate{
    width:200px;
    height:200px;
    border:10px solid;
    border-radius: 10px;
}
p#heartrateNumber{
    font-size:40px;
    font-weight:900;
}
div#heartrateText{
    width:200px;
    font-size:20px;
    font-weight:500;
}

#activity{
    width:200px;
    height:200px;
    border:10px solid;
    border-radius: 10px;
}
p#activityLevel{
    font-size:40px;
    font-weight:900;
}
div#activityText{
    width:200px;
    font-size:20px;
    font-weight:500;
}